<h1>Welcome to Nice Things Being Said About You</h1>
<form action="/" method="post">
<lable for="player_name">Name</lable>
<input id="player_name" type="text" name="player_name">
<input type="submit">
</form>
